<!DOCTYPE html>
<html>
<head>
    <title>Влизане</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

<h2>Влизане</h2>

<div class="form-group">
    <input type="email" id="email" placeholder="Имейл">
</div>

<div class="form-group">
    <input type="password" id="password" placeholder="Парола">
</div>

<button onclick="login()">Влез</button>

<div id="message"></div>

<a href="/register.html">Нямаш профил? Регистрирай се</a>

<script src="/static/js/login.js"></script>

</body>
</html>
